body{
    background-color: lightgray;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
}

header{
    background-color: red;
    height: 100px;
    margin: 0px;
    color: white;
    text-align: center;
    line-height: 100px;
}

nav{
    background-color: lightblue;
    height: 50px;
    color: white;
}

nav ul li{
    float: left;
    margin: 10px;
    list-style: none;
}

main{
    background-color: beige;
}
